@{
    ViewBag.Title = "Home Page";
}

<div>
    <p>We are dealing with your amazon refunds issues.</p>
    <br />
    <p>Click on register to be able to proceed with your refunds</p>
</div>

<div id="root">

</div>

@section Scripts {
    <script src="~/Scripts/Metronic/src/index.js"></script>
}