@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please complete the final step of registering. Click the link and complete amazon information.
        @Html.ActionLink("Click here to complete register process ", "AmazonInformation", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
