    <div class="row full-height bg-light-grey pad6">

        <div class="col-sm-6  bg-light-grey">

            <div class="top-heading">
                <h1>Affiliate Sytem</h1>
                <h2>Earn money through our referral system</h2>
            </div>

            <div class="seller-connect label-grey padding-t1 input-fields">

                <div class="fba-form">
                    <div class="label-grey">
                        <label>Copy and share the following link</label>
                    </div>
                    <div class="affilate-link scroll-links ">
                        <h5><a href="">https://fbarefundfinders.com/create-new-account-affiliate-user-id-10984account-affiliate-user-id-10984</a></h5>
                    </div>
                    <div class="affilate-copy">
                        <button type="submit" class="copy">
                            <i class="fa fa-file-o"></i>
                        </button>
                    </div>

                    <div class="padding-t4 label-grey fba-form">
                        <label>Or send your friend an invite</label>
                        <input type="text" class="form-control inp-field" placeholder="Enter your affiliates email address">
                        <button type="submit" class="form-control btn btn-outline-info m-btn m-btn--outline-2x width60">
                            <i class="fa fa-envelope"></i>Send Invite
                        </button>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-sm-6 bg-dark-grey instruction-box">


            <div class="instruction-head">
                <h3> <i class="fa fa-exclamation-circle"></i>Instructions</h3>
                <h4>Please follow the following instructions to move forward.</h4>
            </div>

            <div class="instruction-detail">

                <label>How does Referrals work?</label>
                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</h5>

                <label>What is my commission?</label>
                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</h5>



            </div>
        </div>
    </div>