<div class="container-fluid">

    <div class="row full-height bg-light-grey pad6">

        <div class="col-sm-6  bg-light-grey">

            <div class="top-heading">
                <h1>All done!</h1>
                <h2>You are here because you must have sent a seller request to your case manager</h2>
            </div>

            <div class="seller-connect label-grey padding-t1 input-fields">

                <div class="fba-form">
                    <div class="check-mark">
                        <label>Case Manager selected</label>
                    </div>
                    <div class="cm-profile flex-center pad-2 width-75">
                        <div class="cm-img">
                            <img src="assets/app/media/img/users/p-img.png">
                        </div>
                        <div class="cm-detail">
                            <h4>John Row</h4>
                            <h5>Your Case Manager</h5>
                            <h6><a href="#">Contact Me</a></h6>
                        </div>

                    </div>

                    <div class="seller-connect padding-t4 label-grey process-link">
                        <label>How to Proceed Further?</label>
                        <h5><a href="">Please read the steps on the right</a></h5>
                        <input type="submit" class="form-control btn btn-info" value="I am all done!">
                    </div>

                </div>
            </div>

        </div>

        <div class="col-sm-6 bg-dark-grey instruction-box">


            <div class="instruction-head">
                <h3><i class="fa fa-exclamation-circle"></i>Instructions</h3>
                <h4>Please follow the following instructions to move forward.</h4>
            </div>

            <div class="instruction-detail">

                <label>Setting your Final Step</label>
                <h5>1. Return to the User Permissions page. </h5>
                <h5>2. Under Pending Users, click confirm to add your case manager.</h5>
                <h5>3. Under Current Users, find your case manager and click edit to set user permissions.</h5>
                <h5>4. Set access to View/Edit for Inventory, Reports and settings. Everything else should be set to None.</h5>


            </div>
        </div>
    </div>

</div>