    <div class="row full-height bg-light-grey pad6">
        <div class="col-sm-6  bg-light-grey">
            <div class="top-heading">
                <h1>Connect your Amazon Account</h1>
                <h2>MWS creden.tials are required for us to analyse your account for potential reimbursements.</h2>
            </div>

            <div class="seller-connect label-grey padding-2 input-fields">

                <div class="fba-form">
                    <label>SeLler Id</label>
                    <input type="email" class="form-control " placeholder="for e.g a12ibiwvy8vrax">

                    <label>Auth Token</label>
                    <input type="password" class="form-control m-input m-input--air" placeholder="amzn.mws.xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx">
                    <button type="submit" class="form-control btn btn-outline-info m-btn m-btn--outline-2x">
                        <i class="fa fa-chain"></i> Connect Amazon Server
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-6 bg-dark-grey instruction-box">
            <div class="instruction-head">
                <h3><i class="fa fa-exclamation-circle"></i>Instructions</h3>
                <h4>Please follow the following instructions to get your amazon sellers account connected.</h4>
            </div>
            <div class="instruction-detail">
                <label>for SeLler Id</label>
                <h5>Go to the User Permissions page in the Settings Menu > User Permissions found in the top right, or by using this link</h5>

                <label>For Auth Token</label>
                <h5>Go to the User Permissions page in the Settings Menu > User Permissions found in the top right, or by using this link</h5>

                <label>For Developer Id</label>
                <h5>Go to the User Permissions page in the Settings Menu > User Permissions found in the top right, or by using this link</h5>
            </div>
        </div>
    </div>