<div class="row bg-light-grey reports pad6  ">
    <div class="col-sm-12 top-heading flex-center">

        <div class="reports-head">
            <h1>Payments</h1>
            <h2>The table would have the summary of the payments done</h2>
        </div>
        <div class="seller-id">
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow" m-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-dropdown__toggle btn btn-brand dropdown-toggle">
                    <span>Seller ID</span><br>
                    A13UOLPU26AEG7
                </a>
                <div class="m-dropdown__wrapper" style="z-index: 101;">
                    <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">

                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <span class="m-nav__link-text">
                                                Activity
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="uni-table bg-wht border">
        <table class="table-responsive">
            <thead>
            </thead>
            <tbody>

                <tr class="border-b">
                    <th>Month</th>
                    <th>Seller ID</th>
                    <th>Reimbursements</th>
                    <th>Due to FBA</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
                <tr class="">
                    <td class="up-letter">January</td>
                    <td>A13UOLPU26AEG7 </td>
                    <td class="success">$350</td>
                    <td>$87.50</td>
                    <td><span class="success-btn">Paid</span></td>
                    <td>Reimbursement Recovery<br><a href="">See Invoice</a></td>

                </tr>
            </tbody>

        </table>

    </div>
</div>