@{
    ViewBag.Title = "Admin Home Page";
}

<h2>@ViewBag.Title</h2>

<div>

    @Html.ActionLink("Click here to add new admin and case manager user", "Create", "UserAdmin")
    <br />
    @Html.ActionLink("Click here to add new role", "Create", "RolesAdmin")
</div>